body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #157347;
}



#menu_logout {
    cursor: pointer;
}

.navbar-nav{
    gap: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: transparent;
    border-bottom: 1px solid #e0e0e0;
}

    .navbar .nav-link {
        color: #157347 !important;
        font-weight: 600;
        font-size: 16px;
        border-bottom: 2px solid transparent; /* ← Esto asegura que todos ocupen el mismo espacio */
        padding-bottom: 4px; /* Opcional: para que el texto no quede tan pegado */
    }

        .navbar .nav-link.active {
            color: #0a3622 !important;
            border-bottom: 2px solid #0a3622;
        }

.logout-link {
    font-weight: 600;
    color: #157347 !important;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand img {
    height: 60px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #146c43 !important;
    border-radius: 50%;
    border: none;
    color: #fff !important;
}