body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #157347;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #157347;
}

.nav-link {
    font-weight: 700;
}

#menu_logout {
    cursor: pointer;
}
