@page
@model IndexModel
@{
    ViewData["Title"] = "Emaús"; 
}
<!DOCTYPE html>
<html lang="en">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emaús</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/index.css">
</head>

<body>

    <script src="~/login/js/validateSesion.js"></script>

    <!-- Body -->
    <div style="margin-bottom: 20px;">
        <img src="~/img/crousel.jpg" width="100%">
    </div>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 column">
                <img src="img/icons8-palm-tree-50.png" height="70px" style="margin-bottom: 15px;">
                <h3>Planta Árboles</h3>
                <p>
                    Cuando salvas la vida de un árbol, simplemente pagas tu deuda, ya que debemos nuestras vidas a los
                    árboles.
                </p>
            </div>
            <div class="col-md-2 column">
                <img src="~/img/reciclar (1).png" height="70px" style="margin-bottom: 15px;">
                <h3>Recicla</h3>
                <p>Reciclar es la clave para que todo funcione: Separar cada envase en su contenedor.</p>
            </div>
            <div class="col-md-2 column">
                <img src="~/img/icons8-water-64.png" height="70px" style="margin-bottom: 15px;">
                <h3>Ahorra Agua</h3>
                <p>Salva un 60% de ti mismo. El agua es vida y el agua limpia significa salud. </p>
            </div>
            <div class="col-md-2 column">
                <img src="~/img/icons8-solar-panels-50.png" height="70px" style="margin-bottom: 15px;">
                <h3>Utiliza Paneles</h3>
                <p>La energía solar es una forma segura de energía nuclear.</p>
            </div>
            <div class="col-md-3 column">
                <img src="~/img/icons8-green-energy-64.png" height="70px" style="margin-bottom: 15px;">
                <h3>Ahorra Energía</h3>
                <p>
                    La energía es parte vital del funcionamiento de nuestro mundo moderno, ahorrar energía es deber de
                    todos.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
