@page
@model prueba.Pages.NosotrosModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/nosotros.css">
</head>

<body>

    <!-- Body -->
    <div style="margin-bottom: 20px;">
        <img src="img/nosotros.jpg" width="100%">
    </div>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 column">
                <img src="img/public-service.png" height="70px" style="margin-bottom: 15px;">
                <h3>Servicio</h3>
                <p>Brindar la seguridad de cumplir con los estándares de calidad ofrecidos a nuestros clientes.</p>
            </div>
            <div class="col-md-4 column">
                <img src="img/responsabilidad.png" height="70px" style="margin-bottom: 15px;">
                <h3>Responsabilidad</h3>
                <p>Brindar la seguridad de cumplir con los estándares de calidad ofrecidos a nuestros clientes.</p>
            </div>
            <div class="col-md-4 column">
                <img src="img/apreton-de-manos.png" height="70px" style="margin-bottom: 15px;">
                <h3>Confianza</h3>
                <p>Brindar la seguridad de cumplir con los estándares de calidad ofrecidos a nuestros clientes.</p>
            </div>
        </div>
    </div>
</body>
</html>