@page
@model prueba.Pages.ProyectosModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proyecto</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/proyectos.css">
</head>
<body>
    <div>
        <figure>
            <img src="img/uno.jpeg">
        </figure>
    </div>

    <svg>
        <text x="50%" y="50%">Plantamos en mas de 10 Distritos de la Ciudad de trujillo</text>
    </svg>

    <div class="img-grupo1">
        <img src="img/grup1-1.png">
        <img src="img/grup1-2.png" alt="">
        <img src="img/grup1-3.png" alt="">

    </div>

    <div class="img-grupo2">
        <img src="img/grup2-1.jpg">
        <img src="img/grup2-2.jpg" alt="">
        <img src="img/grup2-3.jpg" alt="">

    </div>
</body>
</html>
